# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.лаба1.3.4- вариант 2.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\numva\RiderProjects\лаба1.3.4- вариант 2\.idea\.idea.лаба1.3.4- вариант 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
